@font-face {
    font-family: Futura;
    src: url(./fonts/Futura-Bold.ttf);
}
@font-face {
    font-family: Gilroy;
    src: url(./fonts/Gilroy-Medium.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
*::selection {
    color: #fff;
    background-color: #000;
}
html, body {
    height: 100%;
    width: 100%;
    background-color: #F7F7F7            ;
}
#page1 {
    min-height: 100vh; /* to make full height of the page only one */
    position: relative;
    width: 100%;
    padding: 0 1vw; 
    padding-top: 20vh;
     margin-top: 1vw;
}
#page1 h1 {
  font-family: Futura;
  font-size: 15.8vw;
  line-height: 0.85;
  letter-spacing: -0.05em;

}

#img-container {
    height: 100vh;
    width: 100%;
    background-color: grey;
    position: relative; 
    /* The box moves visually
✔ The original space is still reserved
✔ Other elements do not move into its place*/
  margin-top: 1vw; 

}


#img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover; 
/* cover the full available parent space*/
}
#img-container #play {
    padding: 3vw 2.2vw;
    background-color: black;
    color: #fff;
    font-size: 1.3vw;
    font-family: futura;
    position: fixed;
    border-radius: 50%;
    opacity: 0;
    scale: 0;
}
/* -------------- Page 2 --------------------- */
#page2 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Only equal spaces in middle of objects*/
    padding: 3vw 1vw;
    /* flex-direction: column; */
}
.qoutes {
    display: flex;
    height: 50vh;
    padding: 30px;
    gap: 100px;
    /* box-sizing: border-box; */
    
}
.qoutes .second {
    background-color: antiquewhite;
    
    padding: 50px 120px;
}
.qoutes .second  a {
    color: #000;
    font-size: 13px;
    text-decoration: none;
}
.qoutes .second  p {
    margin-bottom: 20px;
    
}

/* Hover animation */
.hover-underline {
  font-size: 2rem;
  color: #ffffff;
  position: relative;
  display: inline-block;
}

/* .hover-underline::after, */
.hover-underline::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #ffffff, #000000);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.hover-underline::before {
  top: 25px;
  transform-origin: left;
}

/* .hover-underline:hover::after, */
.hover-underline:hover::before {
  transform: scaleX(1);
}

@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');
.qoutes .first h2 {
    font-family: "Boldonse", system-ui;
    font-size: 60px;
    font-weight:900;
    line-height: 55px;
}
#page2 .elem {
    height: 100%;
    width: 31%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.elem .dets {
    height: 60px;
    border-radius: 50px;
    width: 70%;
    position: absolute;
    background-color: pink;
    z-index: 9;
}
#page2 .elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
}

/* -------------- Page 3 -----------------\ */
#page3 {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.child {
    height: 54vh;
    width: 38vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.child img {
    height: 100%;
}



#cursor {
    height: 150px;
    width: 150px;
    background-color: blanchedalmond;
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%) scale(0);
   
}

/* -------------- Navigation ------------------- */
#nav {
    width: 100%;
    position: fixed;
    z-index: 99;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#nav #navpart2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


#nav #navpart2 #links a {
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 14px;
    margin: 0 20px;
}
#navpart1 {

    height: 82px;
    overflow: hidden; 
}
#navpart1 svg {
    display: block;
    
}
#nav #logo2 {
    height: 70px;
    z-index: -100;
}

#links {
    padding: 10px;
}
#icons {
    z-index: 100;
    padding: 10px;
}
#nav #navpart2 #icons {
  background-color: #F7F7F7;
  border-radius: 20px;
}
#nav #navpart2 #icons i {
    font-size: 18px;
    margin: 0 22px ;
    position: sticky;
    
}

#page4 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    font-size: 40px;
    flex-direction: column;
    text-align: center;
}

#mid {
    margin: 50px 0px;
    width: 100%;
    height: 200px;
    font-weight: 900;
    font-weight: bolder;
}
#down button {
    height: 60px;
    color: white;
    min-width: 350px;
    background-color: #000;
    font-size:15px ;
    border-radius: 30px;
}
#down .msg {
    margin-top: 20px;
}
#down h3 {
    font-size: 17px;
    font-weight: 50;
}
/* --------------------------------- Responsive -------------------- */
@media (max-width: 600px) {
    #page1 {
        min-height: 70vh;
        width: 100%;
        padding: 0 3vw; 
        padding-top: 25vh;
}
    #page1 h1 {
        font-size: 15.5vw;
        letter-spacing: -3px;
}
#img-container {
    height: 25vh;
    margin-top: 3vw;

 }
 #img-container #play {
    padding: 9.5vw 7.2vw;
    font-size: 4.5vw;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1;
    scale: 1;
    transform: translate(-50%, -50%);
}
#page2 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 5vw 3vw;
}
#page2 .elem {
    height: 100vh;
    width: 100%; 
    margin-bottom: 3vw;
}
#page2 .elem .dets {
    height: 40px;

}

#navpart1 {
    height: 83px;
    width: 100%;
    overflow: hidden; 
    scale: 0.8;
}
#nav #navpart2 #links {
    padding-left: 0;
    display: none;
}
#nav #navpart2 #links a {
    font-size: 9px;
    margin: 0 0px;
}
#nav #navpart2 {
    gap: 5px;
}
#page3 {
    flex-direction: column;
}
.child img {

    scale: 0.75;
}


}
/* --------------------- */
.elem .dets {
     transition: transform 2s ease;
}
.elem .dets:hover {
    height: 250px;

    /* padding-bottom: 250px; */
    border-radius: 50px;
    width: 70%;
    position: absolute;
    background-color: pink;
    z-index: 9;
}

.dets {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.dets a {
   text-decoration: none;
}